.resetPassword {
	height: 100vh;
	background-image: linear-gradient(to right, #fff5bc, #cec1ff);
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 2vmax;
}

.resetPasswordForm {
	width: 50%;
	background-color: white;
	box-sizing: border-box;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vmax;
}

.resetPasswordForm > input {
	padding: 1vmax 4vmax;
	margin: 2vmax;
	box-sizing: border-box;
	border: 1px solid #ccc;
	outline: none;
	width: 80%;
	border-radius: 30px;
}

.resetPasswordForm > a {
	text-decoration: none;
	font: 100 1rem "Roboto", sans-serif;
	color: rgba(0, 0, 0, 0.5);
	margin: 2vmax;
}

@media screen and (max-width: 600px) {
	.resetPasswordForm {
		width: 100%;
	}

	.resetPasswordForm > input {
		padding: 2vmax 4vmax;
	}
}
